.formContainer {
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2)!important;
    min-width:20rem;
    max-width: 75%;
  }

form{
  display: flex;
  flex-wrap: wrap;
}

form .control {
  flex:1 0 40%;
  margin: 1rem;
}
  
form input {
  font: inherit;
  background-color: #FAF9F6;
  color: black;
  border-radius: 4px;
  border: 1px solid black;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.form .buttons{
    display:flex;
    justify-content: space-around;
    padding: 0.5rem 2.5rem;
}
  
